services:
  mysql:
    image: mysql:8
    container_name: rate-limit-mysql
    environment:
      MYSQL_ROOT_PASSWORD: Password@123
      MYSQL_DATABASE: rate_limit
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    container_name: rate-limit-redis
    command: redis-server --requirepass "Password@123"
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: rate-limit-and-throttle-api
    ports:
      - "8082:8082"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    restart: on-failure:5
